# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment & secrets
.env
.env.local

# AWS
.aws/
*.pem
*.key

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/
