# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/

# Environment variables
.env

# AWS credentials
.aws/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# OS
.DS_Store

# Logs
*.log

